@model string
@{
    Layout = "_Layout";
}
<div id="userPage">
    <div class="row">
        <div class="col-md-4">
            <h1 data-bind="text:Name"></h1>
            <div data-bind="visible:IsOwner">
                <input type="button" data-bind="hidden:EditMode , click:ChangeEditMode" class="btn, btn-primary" value="Edit profile"/>
            </div>
            <div data-bind="visible:EditMode">
                <b>Name</b><br/>
                <input type="text" data-bind="value:Name" class=""/>
                <br/>
                <br/>
                <input type="button" class="btn btn-close" data-bind="click:ChangeEditMode" value="Cancel"/>
                <input type="button" class="btn btn-success" data-bind="click:Update" value="Update"/>
            </div>
        </div>
        <div class="col-md-8">
            <h2 class="sub-header">Public Packing lists</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody data-bind="foreach: PackingListsPublic">
                    <tr>
                        <td>
                            <a data-bind="attr:{href:Link, title:Name},text:Name"></a>
                        </td>
                        <td>
                            <img alt="Language" style="width: 40px;" data-bind="attr:{src:FlagUrl}"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>

@section footerjs
{
    <script type="text/javascript">  
  ko.applyBindings(UserViewModel('@Model'), document.getElementById('userPage'));  
  </script>
}