<tr>
    <td><a target="_blank" data-bind="attr:{href:LinkBack}"><span data-bind="text:Name"></span></a></td>
    <td><span data-bind="text:Weight"></span>&nbsp;<span data-bind="text:WeightSufix"></span></td>
    <td>
        <input type="number" style="width: 50px;" data-bind="value:Quantity"/>
    </td>
    <td>
        <span title="Update" style="color: #0f5132; font-size:large; " class="glyphicon glyphicon-floppy-saved" aria-hidden="true" data-bind="click:Save"></span>
        <span title="Delete" style="color: red; font-size:large;  " class="glyphicon glyphicon-trash" aria-hidden="true" data-bind="click:Delete"></span>
    </td>
</tr>