@model string
@{
    Layout = "_Layout";
}
<div id="PackingList">
    <div class="container-fluid">
        <div class="col-sm-8">
            <h1 data-bind="text:Name, hidden:EditName, click:ChangeEditNameState" class="page-header">List</h1>
        </div>
        <div class="col-sm-4">
            <a title="Printable" style="font-size:large;" data-bind="attr:{href:PrintLink}" target="_blank" class="glyphicon glyphicon-print" aria-hidden="true"></a>
            
            <input type="button" class="btn btn-primary" value="Make public" data-bind="click:MakePublic,hidden:IsPublic"/>
            <a target="_blank" data-bind="visible:IsPublic, attr:{href:PublicLink}">Public link</a>
            <input type="button" class="btn btn-primary" value="Make private" data-bind="click:MakePrivate,visible:IsPublic"/>
        </div>
    </div>
    <div data-bind="visible:EditName">
        <input type="text" data-bind="value:Name"/>
        <input type="button" class="btn btn-primary" value="Save" data-bind="click:SaveName"/>
        <input type="button" class="btn btn-primary" value="Cancel" data-bind="click:CancelName"/>
    </div>
    <input type="button" class="btn btn-primary" value="Add group" data-bind="click:AddNewGroup"/>
    <br />
    <br />
    <!-- ko foreach: Groups -->
      @await Html.PartialAsync("PackinglistGroup")
    <!-- /ko -->

   
    
    
    <!-- Modal -->
 <div class="modal hide" id="AddItemToPackingListModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         Add items
       </div>
         <div class="modal-body">
            <ul data-bind="foreach: Items">
                   <li>
                       <input data-bind="checked:Selected" type="checkbox"/>
                       <span data-bind="text:Name"></span>
                   </li>
               </ul>
         </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
         <button type="button" data-bind="click:SaveItemsFromModalToGroup" class="btn btn-primary">Save changes</button>
       </div>
     </div>
   </div>
 </div>






</div> 
@section footerjs
{
    <script type="text/javascript">  
  ko.applyBindings(PackingListViewModel('@Model'), document.getElementById('PackingList'));  
  </script>
}