@using Microsoft.Extensions.Options
@using SP.Web.Site
@inject IOptions<GoogleAnalytics> googleAnalytics

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Stuff packer</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/site.css"/>
    <script src="/js/ViewModel/viewmodel.min.js" asp-append-version="true"></script>
    <!-- Google tag (gtag.js) -->
    @{
        var link = "https://www.googletagmanager.com/gtag/js?id=" + googleAnalytics.Value.Code;
    }
    <script async src='@link'></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', '@googleAnalytics.Value.Code');
    </script>
</head>
 <body>
@await Html.PartialAsync("_TopMenu")
 <div class="container-fluid" style="background-color: #fff;">
     <div class="row">
         <div class="col-sm-3 col-md-2">
             @await Html.PartialAsync("_LeftMenu")
         </div>
         <div class="col-sm-9  col-md-10 main">
             @RenderBody()
         </div>
     </div>
 </div>
 <div id="footer"   style="background-color: #cccccc"> 
       <div class="container">
         <p class="muted credit">Contact Stuffpacker <a href="mailto:stuffpacker23@gmail.com">stuffpacker mail</a> or see project page at <a href="https://github.com/StuffPacker/System">Stuffpacker project site</a>.</p>
       </div>
     </div>
      <script src="/js/jquery-3.7.1.min.js"></script>
 <script src="/js/site.js"></script>
   
 
 <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
 <script src="/js/knockout-3.5.1.js"></script>
 @RenderSection("footerjs", required: false)

 </body>
</html>