<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="/">Stuff packer</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    @if (User.Identity is {IsAuthenticated: true })
                    {
                        <a href="/Logout">Logout</a>
                    }
                    else
                    {
                        <a href="/Login">Login</a>
                    }
                
                </li>
                @* <li><a href="#">Link 1</a></li> *@
                @* <li><a href="#">Link 2</a></li> *@
                @* <li><a href="#">Link 3</a></li> *@
                @* <li><a href="#">Link 4</a></li> *@
            </ul>
            @* <form class="navbar-form navbar-right"> *@
            @*     <input type="text" class="form-control" placeholder="Search..."> *@
            @* </form> *@
        </div>
    </div>
</nav>