@model string
@{
    Layout = "_Layout";
    
}
<div id="PackingListPublic">
    <h1 data-bind="text:Name" class="page-header">List</h1>
    <span data-bind="text:Description"></span>
    <br/><br/>
    
    <!-- ko foreach: Groups -->
     @await Html.PartialAsync("PackinglistGroup")
    <!-- /ko -->
</div> 

@section footerjs
{
    <script type="text/javascript">  
  ko.applyBindings(PackingListPublicViewModel('@Model'), document.getElementById('PackingListPublic'));  
  </script>
}