<tr>
    <td><span data-bind="text:Name"></span></td>
    <td><span data-bind="text:Weight"></span>&nbsp;<span data-bind="text:WeightSufix"></span></td>
    <td>
        <span data-bind="text:Quantity"></span>
    </td>
    <td></td>
</tr>