@model string
@{
    Layout = "_Layout";
    
}
<div id="PackingListPublic">
    <h1 data-bind="text:Name" class="page-header">List</h1>
    <!-- ko foreach: Groups -->
    <div class="row">
        <div class="container-fluid">
            <div class="row" style="background-color: #1a1e21; color: white;">
                <div style="float: left;">
                    <h2 data-bind="text:Name"></h2>
                </div>
            </div>
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Weight</th>
                            <th>Quantity</th>
                            <th>#</th>
                        </tr>
                        </thead>
                        <tbody data-bind="foreach: Items">
                        <tr>
                            <td><span data-bind="text:Name"></span></td>
                            <td><span data-bind="text:Weight"></span>&nbsp;<span data-bind="text:WeightSufix"></span></td>
                            <td>
                                <span data-bind="text:Quantity"></span>
                            </td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    <!-- /ko -->
</div> 

@section footerjs
{
    <script type="text/javascript">  
  ko.applyBindings(PackingListPublicViewModel('@Model'), document.getElementById('PackingListPublic'));  
  </script>
}