@{
    Layout = "_Layout";
}
<div id="ItemList">
    <h1 class="page-header">Items</h1>
    <input type="button" class="btn-primary" data-bind="click:Create" value="Create New Item"></input>
  
    <h2 class="sub-header">All items</h2>
    
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Weight</th>
                <th></th>
            </tr>
            </thead>
            <tbody data-bind="foreach: Items">
            <tr>
                <td>&nbsp;</td>
                <td><a target="_blank" data-bind="attr:{href:Link}"><span data-bind="text:Name"></span></a></td>
                <td><span data-bind="text:Weight"></span>&nbsp;<span data-bind="text:WeightSufix"></span></td>
                <td>
                    <input type="button" class="btn-primary" value="edit" data-bind="click:Edit"/>
                    <span title="Delete" style="color: red; font-size:large;  " class="glyphicon glyphicon-trash" aria-hidden="true" data-bind="click:Delete"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

@section footerjs
{
    <script type="text/javascript">  
  ko.applyBindings(ItemListViewModel, document.getElementById('ItemList'));  
  </script>
}


