<div class="container-fluid" data-bind="visible:EditItem">
    <div class="row">
        <span data-bind="text:EditModel().Id"></span><br/>
        <b>Name</b> <input type="text" data-bind="value:EditModel().Name"/><br/>
        <input type="button" class="btn-primary" value="Save" data-bind="click:EditModel().Save"/>
        <input type="button" class="btn-primary" value="Cancle" data-bind="click:EditModel().Cancle"/>
    </div>
</div>