@{
    Layout = "_Layout";
}
<div id="Home">
    <h1 class="page-header">Stuff packer</h1>
    <p>
        Sometimes it can be difficult to know what to pack in your bag, it can also be difficult to know the weight of the bag. With this tool you can organize your packing into lists and categories, get full controle of your gadgets and get a good overview of the weight.
        
        If you pack with this tool, you will soon discover that you can save weight and space on several things.
    </p>
    
</div>


@section footerjs
{
}