@{
    Layout = "_LayoutNoSideBar";
}
<div id="Home">


    <div class="row">
        <div class="col-md-3">&nbsp;</div>
        <div class="col-md-6">
            <div id="Home" style="padding-bottom: 25%;">
                <h1 class="page-header">Stuff packer</h1>
                <h2>What is Stuff packer?</h2>
                <p>
                    Sometimes it can be difficult to know what to pack in your bag, it can also be difficult to know the weight of the bag. <br/>
                    With this tool you can organize your packing into lists and categories, get full control of your gadgets and get a good overview of the weight.
                    <br/>
                    <br/>
                    If you pack with this tool, you will soon discover that you can save weight and space on several things.
                </p>
                <h2>How?</h2>
                <p>
                    Sign up <a href="/account/register">here</a> and start creating your packing lists.
                </p>
                <h2>Want to help?</h2>
                <p>
                    If you want to help with the project you can go to our <a href="https://github.com/StuffPacker/System" target="_blank">Github</a> repository and either code or report suggestions or bugs.
                </p>
                <h2>Example</h2>
                <p>
                    <a href="/packinglist/6509405ca3246bbcf127dfaa/public" target="_blank">One night out</a>
                </p>
            </div>

        </div>
        <div class="col-md-3">
            <h2>Examples</h2>
            <a href="/packinglist/6509405ca3246bbcf127dfaa/public" target="_blank">
                <img src="img/hiking.jpg" style="width: 100%;" class="img-rounded"/>
            </a>
            <br/>
            <h2 class="sub-header">Public Packing lists</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody data-bind="foreach: PackingListsPublic">
                    <tr>
                        <td>
                            <a data-bind="attr:{href:Link, title:Name},text:Name"></a>
                        </td>
                        <td>
                            <img alt="Language" style="width: 40px;" data-bind="attr:{src:FlagUrl}"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section footerjs
{
    <script type="text/javascript">  
  ko.applyBindings(HomeViewModel, document.getElementById('Home'));  
  </script>
}