@{
    Layout = "_Layout";
}
<div id="Dashboard">
    <h1 class="page-header">Dashboard</h1>
    <h2 class="sub-header">Items</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Weight</th>
            </tr>
            </thead>
            <tbody data-bind="foreach: Items">
            <tr>
                <td><a target="_blank" data-bind="attr:{href:Link}"><span data-bind="text:Name"></span></a></td>
                <td><span data-bind="text:Weight"></span>&nbsp;<span data-bind="text:WeightSufix"></span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
@section footerjs
{
    <script src="/js/ViewModel/DashboardViewModel.js"></script>
    <script type="text/javascript">  
  ko.applyBindings(DashboardViewModel, document.getElementById('Dashboard'));  
  </script>
}