@{
    Layout = "_Layout";
}
<div id="Dashboard">
    <h1 class="page-header">Dashboard</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <h2 class="sub-header">Items</h2>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Weight</th>
                        </tr>
                        </thead>
                        <tbody data-bind="foreach: Items">
                        <tr>
                            <td>
                                <a target="_blank" data-bind="attr:{href:Link}">
                                    <span data-bind="text:Name"></span>
                                </a>
                            </td>
                            <td><span data-bind="text:Weight"></span>&nbsp;<span data-bind="text:WeightSufix"></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <h2 class="sub-header">Packing lists</h2>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody data-bind="foreach: PackingLists">
                        <tr>
                            <td>
                                <a data-bind="attr:{href:Link, title:Name},text:Name"></a>
                            </td>
                            <td>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <h2 class="sub-header">Public Packing lists</h2>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody data-bind="foreach: PackingListsPublic">
                        <tr>
                            <td>
                                <a data-bind="attr:{href:Link, title:Name},text:Name"></a>
                            </td>
                            <td>
                                <img alt="Language" style="width: 40px;" data-bind="attr:{src:FlagUrl}"/>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


</div>

@section footerjs
{
    <script type="text/javascript">  
  ko.applyBindings(DashboardViewModel, document.getElementById('Dashboard'));  
  </script>
}