@using Microsoft.AspNetCore.Mvc.TagHelpers
@model SP.Web.Business.Feature.Account.Login.LoginViewModel

@{
    Layout = "_LayoutNoSideBar";
}
<div class="row">
    <div class="col-md-3">&nbsp;</div>
    <div class="col-md-6">
        <h1 class="text-uppercase text-white font-weight-bold">Login to Stuffpacker</h1>


        <form id="account" method="post">
            <b>Email</b><br/>
            <input class="form-control" asp-for="Email"/><span asp-validation-for="Email" class="text-danger"></span>
            <br/><br/>
            <b>Password</b><br/>
            <input class="form-control" asp-for="Password"/><span asp-validation-for="Password" class="text-danger"></span>
            <br/><br/>
            <b>Remember Me </b> <input asp-for="RememberMe"/>
            <br/><br/>
            <div asp-validation-summary="All" class="text-danger"></div>
            <a href="/account/register">Register</a><br/>
            <a href="/account/ForgotPassword">Forgot your password?</a>
            <br/><br/>
            <a class="btn btn-dark btn-xl" href="/">Cancel</a>
            <button class="btn btn-primary btn-xl js-scroll-trigger" type="submit">Login</button>

        </form>


    </div>
    <div class="col-md-3">&nbsp;</div>
</div>